@charset "utf-8";

.row {max-width: 1200px; padding: 0px 10px; margin: 0 auto;}
body {font-family: '맑은고딕';}

/* header구역 */
#header > .row {position: relative;}
#header h1 {padding: 20px 20px 20px 40px}

#header #nav {position: absolute; top:50%; transform: translateY(-30%); right: 0; z-index: 999;}
#header #nav .depth1 > li {display: inline-block; position: relative; text-align: center;}
#header #nav .depth1 > li > a {padding: 23px 50px; display: inline-block;  background: green;
                                font-size: 17px; color: #555;  font-weight: 700;}
#header #nav .depth2 {position: absolute; top: 100%; left: 0; width: 200px; background: #fff;
                      text-align: center;}
#header .depth2 > li > a {padding: 15px 30px; display: block; font-size: 12px; color:#222; 
                          border-bottom: 1px solid #eee;}
/* #header #nav .depth1 > li:hover .depth2 {display: block;} */
#header .depth2 > li:last-child > a {border-bottom: none;}
#header .depth2 > li:hover a {background:#397dda; color:#dfe9fe}






/* section구역 */
/* article1 */
.article1 .slide {height: 720px;}
.article1 .slide1 {height: 720px; background: url(../img/main01.jpg) no-repeat center; background-size: cover;
                    position: relative; }
.article1 .slide_text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
                         color: #fff; text-align: center;}
.article1 .slide_text h1 {font-size: 45px; line-height: 50px; font-weight: 800;}
.article1 .slide_text span {font-size: 16px; line-height: 24px; font-weight: 700; margin: 10px 0;}

.article2, .article3, .article4 {margin-top: 60px; padding-bottom: 70px}
.main h2 {font-size: 35px; color: #555; text-align: center; padding-bottom: 28px; font-weight: bold;
          padding-top: 10px; position: relative;}
.main h2::before {content: ''; width:100px; height: 1px; background: #397dda;       
                  position: absolute; bottom: 90% ; left: 50%; margin-left: -50px;}
.main p {font-size: 15px; color: #777; text-align: center; line-height: 1.7; padding-bottom: 40px;}

/* article2 */
.article2 {margin-top: 60px; padding-bottom: 70px; max-width: 1000px;}
.article2 .intro {position: relative; text-align: center;}
.article2 .intro .intro_pic {display: block; width: 24%; margin-right: 1.3333%; height: 370px; float: left;}
.article2 .intro .intro_pic:nth-child(4) {margin-right: 0;}
.article2 .intro .intro_pic img {background: #323232; width: 170px; height: 170px; border-radius: 50%; transition: all 0.5s;}
.article2 .intro .intro_pic img:hover {background: #fe0000;}
.article2 .intro .intro_pic h3 {font-size: 17px; padding-top: 17px; font-weight: bold; color: #424242;}
.article2 .intro .intro_pic p {font-size: 12px; padding:20px 18px ; letter-spacing:-1px; }
.article2 .intro .intro_pic a:nth-of-type(2) {color: #1e1e1e; font-size: 12px; padding: 10px 46px 10px 46px; 
                                                border: 1px solid #1e1e1e;}






/* article3 */
.article3 {height: 700px; background: url(../img/bg_business.jpg) no-repeat ;}
.article4 .banner div {overflow: hidden; position: relative;}
.article3 .banner li {float: left; width: 20%; width: 32%; margin-right: 2%; margin-bottom: 20px;
                    text-align: center;}
.article3 .banner_text {background-color: #397dda; padding-bottom: 8px;}
                    
.article3 li:nth-child(3n) {margin-right: 0;}


/* article4 */
.article4 {height: 500px; position: relative;}
.article4 iframe {position: absolute; height: 320px; vertical-align: middle;}


/* footer구역 */
#footer {font-size: 14px; padding:20px 0; width: 100%;; text-align: center;
        background: #303030; line-height: 14px;}
#footer .menu {padding:5px 0 10px ;}
#footer .menu a {display: inline-block; position: relative; color:#ccc; 
                font-weight: 700;font-size: 13px; margin: 0 5px;}
#footer address span {font-size: 12px; color: #8d8b8b; margin: 3px 0 0 0; padding: 20px 0;line-height: 1.6;}
#footer p {font-size: 12px; color: #8d8b8b; margin-top:10px;}

.gotop {position: fixed; right: 10%; bottom: 15%; z-index: 999; }
.gotop a {width: 42px; height: 42px; display: block; line-height: 42px; text-align: center;
        background: #484848; color: rgba(255, 255, 255, 0.7) !important;}
.gotop:hover a {background: #ffae3d;}