@media screen and (max-width: 1024px) {
    #header h1 {float: unset; padding: 30px 0 0; text-align: center;}
    #nav {text-align: center; float: right; }
    #nav .depth1 {color:#1e1e1e; font-size: 18px; padding:0 0; text-align: center;}
    #header .open, #header .close {display: none;}
    #nav .depth1 > li {position: relative; display: inline-block; padding: 15px 25px 15px 25px;}
    #nav .depth2 {position: absolute; width:100%; top:100% ; left: 0; background: #555 ;
                  font-size: 14px; color: #fff ;z-index: 9999;  text-align: center;
                  display: none }
    }

@media screen and (max-width: 768px) {
    #header {position: relative;}
    #header .open, #header .close {display: block; position: absolute; top: 55px; right: 20px;}
    #header .close {display: none;}
    #header .open button, .close button {font-size: 30px; color: #1e1e1e;
                                         background: none; border: none;}

    #header h1 {float: unset; padding: 30px 0 20px; text-align: left;}
    #nav {text-align: center; float: unset; position: absolute; top: 100%; right: 0; z-index: 999999; display: none;} 
    #nav .depth1 {color:#1e1e1e; font-size: 18px; padding: 0px 0px; text-align: center;
                  display: block; background: #fff; width: 220px; z-index: 99999; }
    #nav .depth1 > li {position: relative; display: block; padding: 10px 0px}
    #nav .depth1 > li > a {padding: 10px 0px ; display: block;}
    #nav .depth2 {position: static; width: auto; top: 0 ; left: 0; background: transparent; 
                  font-size: 14px; color: #555 ; z-index: 9999;  text-align: center;
                  display: none; }
    #nav .depth2 li {padding: 13px 0; border-top: 0px solid #777;}
    

    /* 전체 닫는 괄호 */
}
